extends ../adminLayout

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title 求购列表
    .panel-body
      table#example-2.table.table-bordered.table-striped
        thead
          tr
            th.no-sorting
              input.cbr(type="checkbox")
            th 名称
            th 详情
            th 创建时间
            th.no-sorting
         tbody
         - var products = ["a", "b", "c", "d", "e", "f", "g", "a", "b", "c", "d", "e", "f", "g","a", "b", "c", "d", "e", "f", "g"]
         each pro in products
           tr
             td
               input.cbr(type="checkbox")
             td #{pro}AAAAAA
             td #{pro}BBBBBBB
             td 2015年10月14日16:13:28
             td
               a(href="#").btn.btn-info.btn-sm.btn-icon.icon-left 详情
               a(href="#").btn.btn-secondary.btn-sm.btn-icon.icon-left 编辑
               a(href="#").btn.btn-danger.btn-sm.btn-icon.icon-left 删除
  .panel.panel-default
    .panel-heading
      h3.panel-title 上传图片
    .panel-body
      .row
        .col-sm-3.text-center
          #advancedDropzone.droppable-area 上传图片
        .col-sm-9
          table#example-dropzone-filetable.table.table-bordered.table-striped
            thead
              tr
                th.text-center(width="1%") #
                th(width="50%") Name
                th(width="20%") Upload Progress
                th Size
                th Status
            tbody
              tr
                td(colspan="5") Files list will appear here
    #ShowImage
  .panel.panel-default
    .panel-heading
      h3.panel-title 上传图片
    .panel-body
      form#fmUpload.dropzone(action="/projects", methpd="post", enctype="multipart/form-data")

  //link(rel="stylesheet", href="/bower_components/xenon/assets/js/dropzone/css/dropzone.css")
  script(src='/bower_components/xenon/assets/js/dropzone/dropzone.min.js')
  script(type="text/javascript").
    jQuery(document).ready(function($) {

                $("#example-2").dataTable({
                    dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                    aoColumns: [
                        { bSortable: false },
                        null,
                        null,
                        null,
                        null
                    ]
                });

                // Replace checkboxes when they appear
                var $state = $("#example-2 thead input[type='checkbox']");

                $("#example-2").on('draw.dt', function() {
                    cbr_replace();

                    $state.trigger('change');
                });

                // Script to select all checkboxes
                $state.on('change', function() {
                    var $chcks = $("#example-2 tbody input[type='checkbox']");

                    if ($state.is(':checked')) {
                        $chcks.prop('checked', true).trigger('change');
                    } else {
                        $chcks.prop('checked', false).trigger('change');
                    }
                });

                var i = 1,
                    $example_dropzone_filetable = $("#example-dropzone-filetable"),
                    example_dropzone = $("#advancedDropzone").dropzone({
                      paramName: "file", // defalut:"file", The name that will be used to transfer the file
                      maxFilesize: 0.08, // MB
                      url: '/projects',
                      addedfile: function(file) {
                                  if(i == 1)
                                    {
                                     $example_dropzone_filetable.find('tbody').html('');
                                    }
                                    var size = parseInt(file.size/1024, 10);
                                    size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");
                                    var	$el = $('<tr>\
                                                  <td class="text-center">'+(i++)+'</td>\
                                                  <td>'+file.name+'</td>\
                                                  <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                                  <td>'+size+'</td>\
                                                  <td>Uploading...</td>\
                                                 </tr>');
                                        $example_dropzone_filetable.find('tbody').append($el);
                                        file.fileEntryTd = $el;
                                        file.progressBar = $el.find('.progress-bar');
                                        },
                      uploadprogress: function(file, progress, bytesSent) {
                                           file.progressBar.width(progress + '%');
                                          },
                      success: function(file,data) {
                                    debugger;
                                    $("#ShowImage").html('<img alt="user-image" src="/'+ data.fileUrl +'">');
                                    file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                                    file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                                    },
                      error: function(file,msg) {
                                  debugger;
                                  file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                                  file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
                                  }
                    });

                $("#advancedDropzone").css({
                  minHeight: 200
                });

    });
