//- <!-- build:js assets/scripts/plugins.js -->
script(src="/bower_components/xenon/assets/js/bootstrap.min.js")
script(src="/bower_components/xenon/assets/js/TweenMax.min.js")
script(src="/bower_components/xenon/assets/js/resizeable.js")
script(src="/bower_components/xenon/assets/js/xenon-toggles.js")
script(src="/bower_components/xenon/assets/js/datatables/js/jquery.dataTables.min.js")
script(src="/bower_components/xenon/assets/js/datatables/dataTables.bootstrap.js")
script(src="/bower_components/xenon/assets/js/jquery-validate/jquery.validate.min.js")
script(src="/bower_components/xenon/assets/js/xenon-custom.js")
script(src='/bower_components/xenon/assets/js/dropzone/dropzone.min.js')
//- <!-- endbuild -->

//- <!-- build:js assets/scripts/main.js -->
script(src = "/app/assets/scripts/main.js")
script(src = "/app/assets/scripts/messages_cn.js")
//- <!-- endbuild -->

//-<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
script(type="text/javascript").
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');

