.footer
  a(href="/sales/new")
    i.icon-release
    span 发布
  a(href="/buy/new")
    i.icon-purchase
    span 求购
  a(href="/")
    i.icon-homepage
    span 首页
  a(href="/exchange/new").active
    i.icon-exchange
    span 交换
  a(href="/user/index")
    i.icon-mes
    span 我的