.footer
  a(href="#")
    i.icon-release
    span 发布
  a(href="#")
    i.icon-purchase
    span 求购
  a(href="#")
    i.icon-homepage
    span 首页
  a(href="#").active
    i.icon-exchange
    span 交换
  a(href="#")
    i.icon-mes
    span 我的