extends ../../layout

block content
  .content
    .uploadimg-list
      .item
        #advancedDropzone.advanced-area 上传图
    .clearfix.margin-b
    form(action="/exchange", methpd="post", enctype="multipart/form-data")
      input#hdUploadFiles(type="hidden", name="exchange[_files]")
      .form-item
        label.control-label(for="inputTitle") 宝贝名：
        .cell
          input#inputTitle.form-control(type="text", name="exchange[title]", placeholder="闲余的名称和类型（6-20字）")
      .form-item
        label.control-label(for="inputClaim") 条件：
        .cell
          textarea#inputClaim.form-control(type="text", rows="3", name="exchange[claim]", placeholder="为你出售的宝贝吆喝几句（20字以内）")
      .form-item
         label.control-label(for="selClassification") 分类：
         .cell
           select#selClassification.form-control(name="exchange[classification]")
             option 数据
             option 电子产品
       .form-item
         label.control-label(for="selDegree") 成色：
         .cell
           select#selDegree.form-control(name="exchange[degree]")
             option 9成新
             option 7成新
             option 4成新
             option 2成新
       .form-item
         label.control-label(for="selCycle") 周期：
         .cell
           select#selCycle.form-control(name="exchange[cycle]")
             option 一个月
             option 2周
             option 5天
       .form-item
         label.control-label(for="selExpect") 期待：
         .cell
           select#selExpect.form-control(name="exchange[expect]")
             option 一个月
             option 2周
             option 5天
       .form-item
         label.control-label(for="inputPhoneNumber") 手机号：
         .cell
           input#inputPhoneNumber.form-control(type="text", name="exchange[phoneNumber]", placeholder="手机号")
       .form-item
         label.control-label(for="inputContact") 联系人：
         .cell
           input#inputContact.form-control(type="text", name="exchange[contact]", placeholder="联系人")
       .form-item
         label.control-label(for="inputLoco ") 交换地点：
         .cell
           input#inputLoco.form-control(type="text", name="exchange[loco]", placeholder="填写你希望的交易地点")
        .form-item.row
           .col-xs-6.align-c
             button.btn.btn-green.brs5 重&nbsp;&nbsp;&nbsp;&nbsp;填
           .col-xs-6.align-c
             button.btn.btn-green.brs5 发&nbsp;&nbsp;&nbsp;&nbsp;布
  #modal-1.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Basic Modal
          .modal-body Hello
          .modal-footer
            button.btn.btn-white(type="button", data-dismiss="modal") Close
            button.btn.btn-info(type="button") Save changes
  script(type = "text/javascript").
    jQuery(document).ready(function($) {
        var $advancedDropzone = $("#advancedDropzone"),
            $hdUploadFiles = $("#hdUploadFiles"),
            example_dropzone = $("#advancedDropzone").dropzone({
                paramName: "file", // defalut:"file", The name that will be used to transfer the file
                maxFilesize: 10, // MB
                url: '/projects',
                addedfile: function(file) {

                },
                uploadprogress: function(file, progress, bytesSent) {

                },
                success: function(file, data) {
                    var jsonFilesArr = $hdUploadFiles.val() == "" ? new Array():JSON.parse($hdUploadFiles.val());
                    jsonFilesArr.push(data);
                    $advancedDropzone.parent().before('<img alt="user-image" src="/' + data.path + '">');
                    $hdUploadFiles.val(JSON.stringify(jsonFilesArr));
                },
                error: function(file, msg) {
                   jQuery('#modal-1').modal('show', {backdrop: 'fade'});
                   file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                   file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
                }
            });
    });