extends ../../layout

block content
  .content.row
    section
      .flexslider
        ul.slides
          li
            a(href="javascript:;")
              img(src="/app/assets/images/Produc1_303x301.jpg", alt="")
          li
            a(href="javascript:;")
              img(src="/app/assets/images/Produc1_303x301.jpg", alt="")
          li
            a(href="javascript:;")
              img(src="/app/assets/images/Produc1_303x301.jpg", alt="")
          li
            a(href="javascript:;")
              img(src="/app/assets/images/Produc1_303x301.jpg", alt="")
    .detail
      .form-item.col-xs-9
        a(href="#")
          img.usercard(title="", alt="", src="/app/assets/images/user_photo.png")
        span.username 不羁放纵爱自由
      .form-item.col-xs-3.text-right(style="line-height: 50px;")
        span.productdata 2015-7-20
      .clearfix
      .item-separator
      .form-item.col-xs-8
        h3 《网路营销实战实战实战实战实战实战全书》
      .form-item.col-xs-4
        span.degree 八成新
        a.active(href="#")
         i.icon-like
      .clearfix
      .item-separator
      .form-item.col-xs-8
        label.control-label 交易周期：
        span 一个月
      .form-item.col-xs-4
        label.control-label 期待：
        span 文学
      .clearfix
      .item-separator
      .form-item.col-xs-12
        label.control-label 交易地点：
        span 马鞍山闲余座总部
      .clearfix
      .item-separator
      .form-item.col-xs-12
        label.control-label 描述：
        .clearfix
        div 描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述。。。
      .clearfix
      .item-separator
      .form-item.col-xs-7
        label.control-label 周女士&nbsp;
        span 13978954562
      .col-xs-5.contact 
        a.item.telphone(href="#")
          i.icon-telphone
          span 电话
        a.item.message(href="#")
          i.icon-message
          span 短信
      .clearfix
      .item-separator

        
  script(type="text/javascript").
    $(function(){
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });