doctype
html
  head
    include ./includes/head
  body
    .page-container
      include ./includes/sidebarMenu
      .main-content
        include ./includes/navbarHeader
        include ./includes/pageTitle
        block content
        include ./includes/footer
    include ./includes/footscript