doctype
html
  head
    meta(charset = "utf-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
    meta(name = "description", content = "XYZ Admin")
    meta(name = "author", content = "Endy Yu")
    title #{title};
    include ./includes/head
  body
    .page-container
      include ./includes/sidebarMenu
      .main-content
        include ./includes/navbarHeader
        include ./includes/pageTitle
        block content
        include ./includes/footer