extends ../../layout

block content
  .content(style="background-color:transparent")
    blockquote.blockquote.blockquote-default.border-none
      h3 PSP 360 黑色
    blockquote.blockquote.blockquote-default.border-none
      h3 PSP 360 黑色
    blockquote.blockquote.blockquote-default.border-none
      h3.pull-left(style="padding-right: 90px; width:100%")求购：笔记本电脑一台
      a.btn-green(href="javascript:", style="position: absolute; margin:0 10px 0 -85px; padding:0 5px") 取消收藏
      p 我们卡家的啊是劳动纠纷l；看见了；急啊螺丝钉解放阿三地方了；就啊手动阀手动阀手动阀