extends ../../layout

block content
  .content.padding-10
    form#form-login.validate(role="form", method="post", action="/user/login/save", enctype="multipart/form-data")
      span.callback-has-error
      a.link.btn-green.pull-right(href="/user/newforgot") 忘记密码了
      .clearfix
      table.table-form
        tr
          td
            label.control-label(for="inputName") 账号
          td
            input#inputName.form-control(type="text", name="user[name]", validate="{required: true, rangelength: [6,20]}", placeholder="请输入您的昵称、手机号")
        tr
          td
            label.control-label(for="inputPassword") 密码
          td
            input#inputPassword.form-control(type="password", name="user[password]", validate="{required: true, rangelength: [6,20]}", placeholder="请输入自己设置的密码")
        tr
          td
            label.control-label(for="inputRandomCode") 验证码
          td
            input#inputRandomCode.form-control(type="text", name="user[randomCode]", validate="{required: true, rangelength: [6,20]}", placeholder="请输入右边的验证码")
      button.btn.btn-green.brs5.margin-10(type="submit", style="width: 100%") 提 交
  script(type="text/javascript").
    $(function() {

      var validator = $("#form-login").validate();
      $('#form-login').submit(function (ev) {
          ev.preventDefault();
          if (validator.form()) {
              var form = $(this);
              $.ajax({
                  url: form.attr('action'),
                  type: 'POST',
                  data: form.serialize(),
                  success: function (result) {
                      if (result === "OK") {
                        window.location.href = "/user/index";
                      }
                  },
                  error: function (jqXhr, textStatus, errorThrown) {
                      //textStatus :"timeout", "error", "notmodified" 和 "parsererror"。
                      if(jqXhr.status == 500){ 
                        if (jqXhr.responseJSON) {
                           var errorMsg = jqXhr.responseJSON.msg;
                           $('.callback-has-error').html(errorMsg);
                          } else {
                          alert ("unknow error");
                        }
                      }
                      else{
                        alert ("server error");
                      }                      
                  }
              });
          }
      });
    });