extends ../../layout

block content
  .content.padding-10
    form#form-register.validate(role="form", method="post", action="/user/register/save", enctype="multipart/form-data")
      table.table-form
        tr
          td
            label.control-label(for="inputName") 昵称
          td
            input#inputName.form-control(type="text", name="user[name]", validate="{required: true, rangelength: [6,20]}", placeholder="为自己的闲余座起一个昵称呗")
        tr
          td
            label.control-label(for="inputPhone") 手机号
          td
            input#inputPhone.form-control(type="text", name="user[phone]", validate="{required: true, mobile: true}", placeholder="请输入自己的手机号")
        tr
          td
            label.control-label(for="inputPassword") 密码
          td
            input#inputPassword.form-control(type="password", name="user[password]", validate="{required: true, rangelength: [6,20]}", placeholder="请输入自己设置的密码")
        tr
          td
            label.control-label(for="inputRandomCode") 验证码
          td
            input#inputRandomCode.form-control(type="text", name="user[randomCode]", validate="{required: true, rangelength: [6,20]}", placeholder="输入手机收到的验证码")
      button.btn.btn-green.brs5.margin-10(type="submit", style="width: 100%") 提 交
  script(type="text/javascript").
    $(function() {

      var validator = $("#form-register").validate();
      $('#form-register').submit(function (ev) {
          ev.preventDefault();
          if (validator.form()) {
              var form = $(this);
              $.ajax({
                  url: form.attr('action'),
                  type: 'POST',
                  data: form.serialize(),
                  success: function (result) {
                      if (result === "OK") {
                         alert("ok")
                      }
                  },
                  error: function (jqXhr, textStatus, errorThrown) {
                      //textStatus :"timeout", "error", "notmodified" 和 "parsererror"。
                      debugger;
                      if (jqXhr.responseJSON) {
                          var errorMsg = jqXhr.responseJSON.msg;
                          alert (errorMsg)
                      } else {
                          alert ("unknow error")
                      }
                  }
              });
          }
      });
    });