extends ../../layout

block content
  .content(style="background-color:transparent")
    div
      blockquote.blockquote.blockquote-default.border-none.pro-item
        h3.pull-left(style="padding-right: 90px; width:100%") 求购：笔记本电脑一台
        span(style="position: absolute; margin:15px 10px 0 -85px; padding:0 5px") 2015.08.04
        .clearfix
        .pro-image-list
          img(src="/app/assets/images/icons/icon11.png", alt="")
          img(src="/app/assets/images/icons/icon11.png", alt="")
        .clearfix
        .foot
          .row
            .col-xs-6
              p.pull-left.item.like 2人收藏
              p.pull-left.item.browse 456人浏览
            .col-xs-6
              a.btn-green.pull-right.brs5 已卖出
              a.btn-green.pull-right.brs5 修改
              a.btn-green.pull-right.brs5 下架
      blockquote.blockquote.blockquote-default.border-none.pro-item
        h3.pull-left(style="padding-right: 90px; width:100%") 求购：笔记本电脑一台
        span(style="position: absolute; margin:15px 10px 0 -85px; padding:0 5px") 2015.08.04
        .clearfix
        .pro-image-list
          img(src="/app/assets/images/icons/icon11.png", alt="")
          img(src="/app/assets/images/icons/icon11.png", alt="")
        .clearfix
        .foot
          .row
            .col-xs-6
              p.pull-left.item.like 2人收藏
              p.pull-left.item.browse 456人浏览
            .col-xs-6
              a.btn-green.pull-right.brs5 已卖出
              a.btn-green.pull-right.brs5 修改
              a.btn-green.pull-right.brs5 下架
      blockquote.blockquote.blockquote-default.border-none.pro-item
        h3.pull-left(style="padding-right: 90px; width:100%") 求购：笔记本电脑一台
        span(style="position: absolute; margin:15px 10px 0 -85px; padding:0 5px") 2015.08.04
        .clearfix
        .pro-image-list
          img(src="/app/assets/images/icons/icon11.png", alt="")
          img(src="/app/assets/images/icons/icon11.png", alt="")
        .clearfix
        .foot
          .row
            .col-xs-6
              p.pull-left.item.like 2人收藏
              p.pull-left.item.browse 456人浏览
            .col-xs-6
              a.btn-green.pull-right.brs5 已卖出
              a.btn-green.pull-right.brs5 修改
              a.btn-green.pull-right.brs5 下架