extends ../../layout

block content
  .content.padding-10
    form#form-resetpwd.validate(role="form", method="post", action="/user/resetpwd/save", enctype="multipart/form-data")
      span.callback-has-error
      table.table-form
        tr
          td
            label.control-label(for="inputOldPassword") 原密码
          td
            input#inputOldPassword.form-control(type="password", name="user[oldpassword]", validate="{required: true, rangelength: [6,20]}", placeholder="请输入原设置的密码")
        tr
          td
            label.control-label(for="inputNewPassword") 新密码
          td
            input#inputNewPassword.form-control(type="password", name="user[newpassword]", validate="{required: true, rangelength: [6,20]}", placeholder="请输入原设置的密码")
        tr
          td
            label.control-label(for="inputConfirmPassword") 确认
          td
            input#inputOldPassword.form-control(type="password", name="user[confirmpassword]", validate="{required: true, equalTo: '#inputNewPassword'}", placeholder="再次输入新密码")
      button.btn.btn-green.brs5.margin-10(type="submit", style="width: 100%") 提 交
    #modal-1.modal.fade
      .modal-dialog
        .alert.alert-success
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          strong 修改成功,
          span 请重新登陆
  script(type="text/javascript").
    $(function() {
      var validator = $("#form-resetpwd").validate();
      $('#form-resetpwd').submit(function (ev) {
          ev.preventDefault();
          if (validator.form()) {
              var form = $(this);
              $.ajax({
                  url: form.attr('action'),
                  type: 'POST',
                  data: form.serialize(),
                  success: function (result) {
                      if (result === "OK") {
                         //alert("ok")
                         $('#modal-1').modal ('show', {backdrop: 'fade'});
                         setTimeout(function(){
                         $('#modal-1').modal ('hide');
                         window.location.href = "/user/index";
                         },5000)
                      }
                  },
                  error: function (jqXhr, textStatus, errorThrown) {
                      //textStatus :"timeout", "error", "notmodified" 和 "parsererror"。
                      debugger;
                      if (jqXhr.responseJSON) {
                          var errorMsg = jqXhr.responseJSON.msg;
                          $('.callback-has-error').html(errorMsg);
                      } else {
                          alert ("unknow error")
                      }
                  }
              });
          }
      });
    });