.page-title
  .title-env
    h1.title 商品列表
    p.description 商品上传的数据库设计的法律圣诞节分厘卡
  .breadcrumb-env
    ol.breadcrumb.bc-1
      li
        a(href="#")
          i.fa-home  首页
      li
        a(href="#")
          商品
      li.active
        strong
          商品列表

          



