.sidebar-menu.toggle-others.fixed
  .sidebar-menu-inner
    header.logo-env
      //-logo
      .logo
        a(href="").logo-expanded
          img(src="/app/assets/images/logo.png", width="150", alt="")
    ul#main-menu.main-menu
      li
        a(href="")
          i.linecons-cog
          span.title Dashboard
      li.opened.active
        a(href="")
          i.linecons-database
          span.title Tables
        ul
          li
            a(href="")
              span.title Basic Tables
          li
            a(href="")
              span.title Responsesive Table
          li.active
            a(href="")
              span.title Data Tables


